:root {
    /* 🎨 Colors */
    --text-color: #FFF0DC;

    --fourth-color: #FFF0DC;
    --third-color: #8A7968;
    --second-color: #695C4F;
    --first-color: #2D2327;
    --second-accent-color: #724b5b;
    --first-accent-color: #533642;

    /* 🖋️ Tipos */
    --font-poppins: "Poppins", sans-serif;
    --font-inter: "Inter", sans-serif;
}

/* Main styles */
html {
    background-image: url('@/assets/fondo.png');
    background-repeat: repeat;
    background-size: auto;
}

#app {
    font-family: var(--font-poppins);
}

body {
    margin: 0;
    padding: 0;
}
  
/* Animations */
@keyframes aparecer {
    to {
        opacity: 1;
    }
}

@keyframes desaparecer {
    to {
        opacity: 0;
    }
}


/* Global styles */
.back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;

    background-color: var(--first-accent-color);
    color: var(--text-color);

    box-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    border-radius: 5px;

    z-index: 9999;
    text-decoration: none;
}

.back-button:hover {
    background-color: var(--second-accent-color);
}

.info-dialog{
    background-color: var(--fourth-color); 

    border-left: 4px solid var(--second-accent-color);

    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    color: var(--first-color); 

    font-family: var(--font-inter);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; 
}
